<template lang="pug">
div
    upload(:product='product.id' @push-imgs='pushImgs')
    .row
        .col-md-2.col-sm-3(v-for='img in product.imgs')
            img-item(:img='img' :product='product' @push-imgs='pushImgs')
</template>


<script>
import Upload from './UploadImg'
import ImgItem from './ImgItem'

export default {
    components: { Upload, ImgItem },

    props: ['product'],

    methods: {
        pushImgs(data){
            this.product.imgs = data
        }
    }

}
</script>

