<template lang="pug">
div
    img.img-responsive(:src="`/storage${img.url}`")
    button.btn.btn-defautl.btn-small(@click='confirRemoveItem') Quitar Foto
</template>

<script>
export default {
    props: ['img', 'product'],

    methods: {
        removeImg(){
            let { id } = this.product
            axios.post('/api/inventories/products/dettachimg/'+id, {img: this.img.id})
                .then(({data}) => this.pushImgs(data.data))
        },

        confirRemoveItem() {
            this.$swal.fire({
                title: 'Quitar foto?',
                text: "Desea quitar esta foto!",
                type: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                if (result.value) {
                    this.removeImg()
                    Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                    )
                }
                })
        },

        pushImgs(data) {
            this.$emit('push-imgs', data)
        }
    }
}
</script>
