<template lang="pug">
.row
    .col-md-2.col-sm-3
        .py-5.text-center
            label(for='file').item.item-1x.item-rounded.bg-dark.text-white.mx-auto
                i.fa.fa-1x.fa-plus
            .font-size-h4.font-w600.pt-3.mb-0 Adjuntar foto
                input(type='file' ref='files' id='file' accept="image/x-png,image/gif,image/jpeg" multiple @change='preview')
            button.btn.btn-primary(@click='save' :disabled='uploading' v-show='active') {{uploading ? 'Subiendo' : 'Subir' }}
    .col-md-2.col-sm-3(v-for='img in imgs')
        img(class="img-fluid" :src="img" alt="")
</template>

<script>
export default {
    props: ['product'],

    data() {
        return {
            formData: new FormData(),
            files: [],
            imgs: [],
            uploading: false,
            active: false
        }
    },

    methods: {
        save() {
            this.uploading = true
            let id = this.product
            axios.post('/api/upload', this.formData).then(({data}) => {
                axios.post('/api/inventories/products/upload/'+id, {imgs: data})
                    .then(({data}) => {
                        this.pushImgs(data.data)
                        this.uploadComplete()
                    })
            })
        },
        preview (e) {
            this.active = true
            this.files = []
            
            this.files = e.target.files
            
            this.render()
        },

        render () {

            this.imgs = []
            
            for(let file in this.files) {
            
                this.formData.append(`file[${file}]`, this.files[file])
            
                let reader = new FileReader();
            
                reader.readAsDataURL(this.files[file]);
            
                reader.onloadend = e => {
                    let src = e.target.result;
                    this.imgs.push(src);
                };
            }
        },

        uploadComplete() {
            this.imgs = []
            this.files = []
            this.active = false
            this.uploading = false
        },

        pushImgs(data) {
            this.$emit('push-imgs', data)
        }
    }
}
</script>


<style scoped="">
	label {
		cursor: pointer;
	}
	input[type='file'] {
		display: none;
	}

	img {
		width: 100%;
		background-image: url();
        margin-bottom: 15px;
	}
</style>