<template lang="pug">
li(v-if='!editing') {{ sub_category.name }}
    span.btn.btn-info.btn-sm(@click='handelEdit')
        i.fa.fa-edit
    span.btn.btn-danger.btn-sm(@click='handelDelete')
        i.fa.fa-trash

li(v-else)
    input.form-control(v-model='newName' v-on:keyup.enter='update')
    spanbtn.btn.btn-success.btn-sm(@click='editing = !editing') Cancelar
</template>

<script>
export default {
    props: ['sub_category'],

    data () {
        return {
            editing: false,
            newName: ''
        }
    },

    methods: {
        update(){
            axios.put('/api/config/sub_category/'+this.sub_category.id, {name: this.newName})
            .then(({data}) => {
                console.log(data)
                this.sub_category.name = this.newName
                this.editing = false
            })
        },

        handelEdit() {
            this.editing = true
            this.newName = this.sub_category.name
        },

        handelDelete() {
            axios.delete('/api/config/sub_category/'+this.sub_category.id)
                .then((data) => location.reload())
        }
    }
}
</script>

