<template>
<div class="top-bar__item nav-cart">                
    <a href="/cart">
        <i class="ui-bag"></i>({{ Object.keys(items).length }})
    </a>
    <div class="nav-cart__dropdown">
        <div class="nav-cart__items">

            <div class="nav-cart__item clearfix" v-for="(item, index) in items" :key='index'>
                <div class="nav-cart__img">
                    <a href="#">
                        <!-- <img src="/storage/images/inventories/2019-02-19/2019-02-19-54509-B.png" width="50" alt=""> -->
                    </a>
                </div>
                <div class="nav-cart__title">
                    <a href="#">
                        {{ item.name }}
                    </a>
                    <div class="nav-cart__price">
                        <span>{{ item.quantity }} x</span>
                        <span>${{ item.price }}</span>
                    </div>
                </div>
                <div class="nav-cart__remove">
                    <button @click.prevent='removeItem(item)'><i class="ui-close"></i></button>
                </div>
            </div>      

        </div> <!-- end cart items -->

        <div class="nav-cart__summary">
            <span>Cart Subtotal</span>
            <span class="nav-cart__total-price">${{sub_total}}</span>
        </div>

        <div class="nav-cart__actions mt-20">
            <a href="/cart" class="btn btn-md btn-light"><span>View Cart</span></a>
            <a href="/cart" class="btn btn-md btn-color mt-10"><span>Proceed to Checkout</span></a>
        </div>
    </div>
</div>
</template>

<script>
import EventBus from './../../event-bus'
export default {
    data() {
        return {
            items: [],
            sub_total: ''
        }
    },

    mounted() {
        EventBus.$on('ADD_ITEM', (data) => this.addItemListen(data))
    },

    created() {
        this.loadCart()
        this.loadSubTotal()
    },

    methods: {
        loadCart() {
            axios.get('/api/cart')
                .then(({data}) => this.items = data)
        },

        loadSubTotal() {
            axios.get('/api/cart/subtotal')
                .then(({data}) => this.sub_total = data)
        },

        addItemListen(item){
            this.loadCart()
            this.loadSubTotal()
        },

        removeItem(item) {
            axios.delete(`/cart/${item['id']}`)
                .then(() => {
                    this.loadCart()
                    this.loadSubTotal()
                })
        }
    }
    
}
</script>