<template>
    <a href="/cart" class="nav__mobile-cart d-lg-none">
        <i class="ui-bag"></i>
        <span class="nav__mobile-cart-amount">({{ Object.keys(items).length }})</span>
    </a>
</template>

<script>
import EventBus from './../../event-bus'
export default {
    data() {
        return {
            items: [],
            sub_total: ''
        }
    },

    mounted() {
        EventBus.$on('ADD_ITEM', (data) => this.addItemListen(data))
    },

    created() {
        this.loadCart()
        this.loadSubTotal()
    },

    methods: {
        loadCart() {
            axios.get('/api/cart')
                .then(({data}) => this.items = data)
        },

        loadSubTotal() {
            axios.get('/api/cart/subtotal')
                .then(({data}) => this.sub_total = data)
        },

        addItemListen(item){
            this.loadCart()
            this.loadSubTotal()
        },

        removeItem(item) {
            axios.delete(`/cart/${item['id']}`)
                .then(() => {
                    this.loadCart()
                    this.loadSubTotal()
                })
        }
    }
    
}
</script>