<template lang="pug">
div
	slot(name='primary')
		.bg-gray
				div(class="content content-full")
					div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
						h1(class="flex-sm-fill h3 my-2") 
							i.fa.fa-user-plus
							span  Crear sucursal
						nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
							ol(class="breadcrumb breadcrumb-alt")
								li(class="breadcrumb-item" aria-current="page")
									router-link(class='btn btn-outline-dark' to="/admin/users")
										span Cancelar
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-primary-dark
				h3.block-title Datos
			.block-content.block-content-full
				.alert.alert-warning(v-if="errors.errors")
					p {{ errors.message }}
					ul
						li(v-for='error in errors.errors') {{ error[0] }}
				.row
					.col-md-12
						.content-heading.border-bottom.mb-1.pb-2 
						.form-group.form-row
							.col-6
								label Nombre
								input.form-control(v-model='name')
							.col-6
								label telefono
								input.form-control(v-model='phone')
						.content-heading.border-bottom.mb-1.pb-2 Datos de contacto
						.form-group.form-row
							.col-6
								label Correo
								input.form-control(v-model='email')
							.col-6
								label Representante
								input.form-control(v-model='representative')
						.content-heading.border-bottom.mb-1.pb-2 
						.form-group.form-row
							.col-12
								label Direccion
								input.form-control(v-model='address')
						.form-group.form-row
							button.btn.btn-primary(@click='save') Guardar
		.block.block-rounded
			.block-content
</template>

<script>
	import Multiselect from 'vue-multiselect'
	import { mapActions, mapGetters } from 'vuex'
	export default {
		components: { Multiselect },

		data () {
			return {
				name: '',
				representative: '',
				email: '',
				phone: '',
				address: '',
				errors: {}
			}
		},

		created() {
			this.getBranches()
		},

		computed: {
			...mapGetters({
				branches: 'branches/allBranches'
			}),
			branch: {
				set(value) {
					this.branch_id = value.id
					this.selected.branch = value
				},
				get(){
					return this.selected.branch
				}
			}
		},

		methods: {
			...mapActions({
				getBranches: 'branches/getBranches'
			}),

			save () {
				this.$store.dispatch('branches/setBranch', this.$data)
					.then( () => {
						this.$swal('Se guardo con exito la sucursal.')
						this.$router.push('/admin/branches')
					})
					.catch(errors => this.errors = errors)
			}
		}
	}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>