<template lang="pug">
div
	slot(name='primary')
		.bg-gray
			div(class="content content-full")
				div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
					h1(class="flex-sm-fill h3 my-2") 
						i.fa.fa-user
						span  Sucursales
					nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
						ol(class="breadcrumb breadcrumb-alt")
							li(class="breadcrumb-item" aria-current="page")
								router-link(class='btn btn-primary' to="/admin/clients/create")
									span Agregar sucursal
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-modern
				h3.block-title Lista de sucursales
			div.table-responsive
				table.table.table-bordered.table-striped.table-vcenter.table-hover
					thead
						tr
							th Nombre
							th Correo
							th Telefono
							th Representante
							th Direccion
							th.text-center Acciones
					tbody
						tr(v-for="branch in branches")
							td 
								router-link(:to="`/branchs/${branch.id}`") {{ branch.name }}
							td {{ branch.email }}
							td {{ branch.phone }}
							td {{ branch.representative }}
							td {{ branch.address }}
							td.text-center
								.btn-group
									router-link(class="btn btn-sm btn-primary" :to="`/admin/branchs/${branch.id}/edit`")
										i.fa.fa-fw.fa-pencil-alt
</template>

<script>
	import { mapActions, mapGetters, mapState } from 'vuex'

	export default {
		created () {
			$('title').text('MARTHA | Sucursales')

			if ( !this.loaded ) {
				this.getBranches()
			}
		},

		computed: {
			...mapGetters({
				branches: 'branches/allBranches',
			}),
			...mapState({
				loaded: 'branches/loaded'
			})
		},
		methods: {
			...mapActions({
				getBranches: 'branches/getBranches',
			})
		}	
	}
</script>