<template lang="pug">
div
	.col-sm-6.col-md-6.col-lg-4.col-xl-3(v-for='img in imgs')
		.img-wrap
			img(class="img-fluid" :src="img" alt="")
</template>

<script>
	export default {
		props: ['files'],

		data () {
			return {
				imgs: []
			}
		},

		created () {
			this.render()
		},

		methods: {
			render () {
				for(let file in this.files) {					
					let reader = new FileReader();
	                reader.readAsDataURL(this.files[file]);
	                reader.onloadend = e => {
	                    let src = e.target.result;
	                    this.imgs.push(src);
	                };
				}
			}
		}
	}
</script>


<style scoped="">
	input {
		display: none;
	}
</style>