<template lang="pug">
div
	slot(name='primary')
		.bg-gray
				div(class="content content-full")
					div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
						h1(class="flex-sm-fill h3 my-2") 
							i.fa.fa-user-plus
							span  Crear usuario
						nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
							ol(class="breadcrumb breadcrumb-alt")
								li(class="breadcrumb-item" aria-current="page")
									router-link(class='btn btn-outline-dark' to="/admin/users")
										span Cancelar
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-primary-dark
				h3.block-title Datos del usuario
			.block-content.block-content-full
				.alert.alert-info La constrasena del usuario por defecto sera 'secret', este debe personalizarla para seguridad.
				.alert.alert-warning(v-if="errors.errors")
					p {{ errors.message }}
					ul
						li(v-for='error in errors.errors') {{ error[0] }}
				.row
					.col-md-12
						.content-heading.border-bottom.mb-1.pb-2 Tipo de usuarios
						.form-group.form-row
							.col-6
								label Roll
								multiselect(:options='types' track-by='name' label='name' v-model='type')
							.col-6
								label Sucursal
								multiselect(:options='branches' track-by='name' label='name' v-model='branch')
								
						.content-heading.border-bottom.mb-1.pb-2 Datos personales
						.form-group.form-row
							.col-6
								label Nombres
								input.form-control(v-model='first_name')
							.col-6
								label Apellidos
								input.form-control(v-model='last_name')
						.content-heading.border-bottom.mb-1.pb-2 Datos de contacto
						.form-group.form-row
							.col-6
								label Correo
								input.form-control(v-model='email')
							.col-6
								label Celular
								input.form-control(v-model='mobil')
						.form-group.form-row
							button.btn.btn-primary(@click='save') Guardar
		.block.block-rounded
			.block-content
</template>

<script>
	import Multiselect from 'vue-multiselect'
	import { mapActions, mapGetters } from 'vuex'
	export default {
		components: { Multiselect },

		data () {
			return {
				first_name: '',
				last_name: '',
				email: '',
				mobil: '',
				errors: {},
				branch_id: '',
				type: '',
				types: [
					{name: 'Administrador', label: 'admin'},
					{name: 'Sucursal', label: 'branch'}
				],
				selected: {
					branch: {}
				}
			}
		},

		created() {
			this.getBranches()
		},

		computed: {
			...mapGetters({
				branches: 'branches/allBranches'
			}),
			branch: {
				set(value) {
					this.branch_id = value.id
					this.selected.branch = value
				},
				get(){
					return this.selected.branch
				}
			}
		},

		methods: {
			...mapActions({
				getBranches: 'branches/getBranches'
			}),

			save () {
				this.$store.dispatch('users/setUser', this.$data)
					.then( () => {
						this.$swal('Se guardo con exito el usuario.')
						this.$router.push('/users')
					})
					.catch(errors => this.errors = errors)
			}
		}
	}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>