<template lang="pug">
div
	slot(name='primary')
		.bg-gray
				div(class="content content-full")
					div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
						h1(class="flex-sm-fill h3 my-2") 
							i.fa.fa-store
							span  Lista de proveedores
						nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
							ol(class="breadcrumb breadcrumb-alt")
								li(class="breadcrumb-item" aria-current="page")
									router-link(class='btn btn-primary' to="/admin/providers/create")
										span Nuevo proveedor
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-flat
				h3.block-title Lista de proveedores
			div.table-responsive
				table.table.table-bordered.table-striped.table-vcenter.table-hover
					thead
						tr
							th Proveedor
							th Representante
							th Celular
							th Telefono
							th Correo
							th Direccion
							th.text-center Acciones
					tbody
						tr(v-for="provider in providers")
							td.font-size-sm
								p.font-w600.mb-1
									a(href="#") {{ provider.document }}
								p.text-muted.mb-0 {{ provider.name }}
							td {{ provider.representative }}
							td {{ provider.mobil }}
							td {{ provider.phone }}
							td {{ provider.email }}
							td {{ provider.address }}
							td.text-center
								.btn-group
									button(type="button" class="btn btn-sm btn-primary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Edit" aria-describedby="tooltip988673" @click='edit(provider.id)')
										i.fa.fa-fw.fa-pencil-alt
</template>

<script>
	import { mapActions, mapGetters, mapState } from 'vuex'

	export default {
		created () {
			
			$('title').text('MARTHA | Proveedores')

			if ( !this.loaded ) {
				this.getProviders()
			}
		},

		computed: {
			...mapGetters({
				providers: 'providers/allProviders',
			}),
			...mapState({
				loaded: 'providers/loaded'
			})
		},
		methods: {
			...mapActions({
				getProviders: 'providers/getProviders',
			}),

			edit (id) {
				this.$router.push(`/admin/providers/${id}`)
			}
		}	
	}
</script>