<template lang="pug">
div
	slot(name='primary')
		.bg-gray
				div(class="content content-full")
					div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
						h1(class="flex-sm-fill h3 my-2") 
							i.fa.fa-store
							span  Agregar proveedor
						nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
							ol(class="breadcrumb breadcrumb-alt")
								li(class="breadcrumb-item" aria-current="page")
									router-link(class='btn btn-outline-secondary' to="/admin/providers")
										span Cancelar
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-primary-dark
				h3.block-title Datos del proveedor
			.block-content.block-content-full
				.alert.alert-warning(v-if="errors.errors")
					p {{ errors.message }}
					ul
						li(v-for='error in errors.errors') {{ error[0] }}
				.row
					.col-md-12
						.content-heading.border-bottom.mb-1.pb-2 Datos de la empresa
						.form-group.form-row
							.col-4
								label Documento
								input.form-control(v-model='document')
							.col-4
								label Nombres
								input.form-control(v-model='name')
							.col-4
								label Representante
								input.form-control(v-model='representative')
						.content-heading.border-bottom.mb-1.pb-2 Datos de contacto
						.form-group.form-row
							.col-4
								label Correo
								input.form-control(v-model='email')
							.col-4
								label Celular
								input.form-control(v-model='mobil')
							.col-4
								label Telefono
								input.form-control(v-model='phone')
						.content-heading.border-bottom.mb-1.pb-2 Direccion
						.form-group.form-row
							.col-12
								label Direccion
								input.form-control(v-model='address')
						.form-group.form-row
							button.btn.btn-primary(@click='save') Guardar
</template>

<script>
	export default {
		data () {
			return {
				document: '',
				name: '',
				representative: '',
				email: '',
				mobil: '',
				phone: '',
				address: '',
				errors: {}
			}
		},

		methods: {
			save () {
				this.$store.dispatch('providers/setProvider', this.$data)
					.then( () => {
						this.$swal('El proveedor se agrego correctamente.')
						this.$router.push('/admin/providers')
					})
					.catch(errors => this.errors = errors)
			}
		}
	}
</script>
