<template lang="pug">
div
	slot(name='primary')
		.bg-gray
			div(class="content content-full")
				div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
					h1(class="flex-sm-fill h3 my-2") 
						i.fa.fa-store
						span  Nuevo articulo
					nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
						ol(class="breadcrumb breadcrumb-alt")
							li(class="breadcrumb-item" aria-current="page")
								router-link(class='btn btn-outline-secondary' to="/admin/inventories")
									span Cancelar
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-modern
				h3.block-title Informacion
			.block-content.block-content-full
				.alert.alert-warning(v-if="errors.errors")
					p {{ errors.message }}
					ul
						li(v-for='error in errors.errors') {{ error[0] }}
				.row
					.col-md-12
						.form-group.form-row
							.col-md-4.col-sm-6
								label Proveedor
								multiselect(:options='providers' track-by='name' label='name' v-model='provider')                          
							.col-md-4.col-sm-6
								label Referencia
								input.form-control(v-model='reference')
							.col-md-4.col-sm-6
								label Nombre
								input.form-control(v-model='name')
						.form-group.form-row
							.col-md-4.col-sm-6
								label Cantidad Inicial
								input.form-control(v-model='initial_amount' type='number')
							.col-md-4.col-sm-6
								label Precio de venta
								input.form-control(v-model='price')
							.col-md-4.col-sm-6
								label Costo
								input.form-control(v-model='cost')
						.form-group.form-row
							.col-md-12.col-sm-12
								label Descripcion
								textarea.form-control(v-model='description')
		.block.block-rounded.block-themed
			.block-content.block-content-full
				.row
					.col-sm-6.col-md-6.col-lg-4.col-xl-3
						.py-5.text-center
							label(for='file').item.item-1x.item-rounded.bg-dark.text-white.mx-auto
								i.fa.fa-1x.fa-plus
							.font-size-h4.font-w600.pt-3.mb-0 Adjuntar foto
								input(type='file' ref='files' id='file' accept="image/x-png,image/gif,image/jpeg" multiple @change='preview')
					.col-sm-6.col-md-6.col-lg-4.col-xl-3(v-for='img in imgs')
						.img-wrap
							img(class="img-fluid" :src="img" alt="")
				.form-group.form-row
					button.btn.btn-primary(@click='save') Guardar
</template>

<script>
	import { mapGetters } from 'vuex'
	import Multiselect from 'vue-multiselect'
    import { Sketch } from 'vue-color'

	export default {
	components: { Multiselect, Sketch },
		data () {
			return {
				formData: {},
				form: {
					provider: '',
					name: '',
					reference: '',
					price: '',
					cost: '',
					initial_amount: '',
					description: '',
				},
				files: [],
				imgs: [],
				errors: {}
			}
		},
		created () {
			this.formData = new FormData()			
		},

		computed: {
			...mapGetters({ providers: 'providers/allProviders' }),
			provider: {
				set (value) {
					this.form.provider = value
					this.formData.append('provider', value.id)
				},

				get () {
					return this.form.provider
				}

			},
			name: {
				set (value) {
					this.form.name = value
					this.formData.append('name', value)
				},

				get () {
					return this.form.name
				}

			},
			price: {
				set (value) {
					this.form.price = value
					this.formData.append('price', value)
				},

				get () {
					return this.form.price
				}

			},
			cost: {
				set (value) {
					this.form.cost = value
					this.formData.append('cost', value)
				},

				get () {
					return this.form.cost
				}

			},
			initial_amount: {
				set (value) {
					this.form.initial_amount = value
					this.formData.append('initial_amount', value)
				},

				get () {
					return this.form.initial_amount
				}

			},
			reference: {
				set (value) {
					this.form.reference = value
					this.formData.append('reference', value)
				},

				get () {
					return this.form.reference
				}

			},
			description: {
				set (value) {
					this.form.description = value
					this.formData.append('description', value)
				},

				get () {
					return this.form.description
				}

			},
		},

		methods: {
			save () {
				One.block('state_loading', '.block')
				axios.post('/api/inventories/items', this.formData)
					.then(({data}) => {
						this.$swal('El articulo se agrego correctamente.')
						this.$router.push('/inventories')
					}).catch(({response}) => {
						window.scrollTo(0, 0);
						this.errors = response.data
						One.block('state_normal', '.block')
					})
			},

			preview (e) {
				this.files = []
				
				this.files = e.target.files
				
				this.render()
			},

			render () {

				this.imgs = []
				
				for(let file in this.files) {
				
					this.formData.append(`file[${file}]`, this.files[file])
				
					let reader = new FileReader();
	            
	                reader.readAsDataURL(this.files[file]);
	            
	                reader.onloadend = e => {
	                    let src = e.target.result;
	                    this.imgs.push(src);
	                };
				}
			}
		}
	}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped="">
	label {
		cursor: pointer;
	}
	input[type='file'] {
		display: none;
	}
	.img-wrap {
		border: solid 1px #ddd;
		border-radius: 10px;
		padding: 5px;
		margin: 5px;
	}
	img {
		width: 100%;
		background-image: url();
		border-radius: 10px;
	}
</style>