<template lang="pug">
div
	slot(name='primary')
		.bg-gray
				div(class="content content-full")
					div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
						h1(class="flex-sm-fill h3 my-2") 
							i.fa.fa-store
							span  Lista de articlus
						nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
							ol(class="breadcrumb breadcrumb-alt")
								li(class="breadcrumb-item" aria-current="page")
									router-link(class='btn btn-outline-secondary' to="/admin/inventories")
										i.fa.fa-arrow-left
								li(class="breadcrumb-item" aria-current="page")
									router-link(class='btn btn-primary' to="/admin/inventories/create")
										span Nuevo Articulo
	.content
		.row
			.col-md-12
				div(class="block block-rounded block-themed")
					.block-header.bg-modern
						h3.block-title {{ article.name }}
					div.table-responsive
						table.table.table-bordered.table-striped.table-vcenter.table-hover
							thead
								tr
									th.text-center
										i.fa.fa-tshirt
									th Referencia
									th Nombre
									th Descriccion
									th Precio
									th Cantidad inicial
									th Inventario
							tbody
								tr
									td.text-center
										img(class="img-avatar img-avatar64" :src="article.photos[0].url")
									td {{ article.reference }}
									td {{ article.name }}
									td {{ article.description }}
									td.text-center {{ article.price }}$
									td.text-center {{ article.initial_amount }}
									td.text-center {{ article.initial_amount - article.quantity_sold }}
				.block
					ul(class="nav nav-tabs nav-tabs-alt js-tabs-enabled" data-toggle="tabs" role="tablist")
						li.nav-item
							button.nav-link(@click='tabs.active = "sale_invoice"' :class='tabs.active == "sale_invoice" ? "active show" : ""') Facturas de ventas
						li.nav-item
							button.nav-link(@click='tabs.active = "invoice"' :class='tabs.active == "invoice" ? "active show" : ""') Facturas de compras
						li.nav-item
							button.nav-link(@click='tabs.active = "galery"' :class='tabs.active == "galery" ? "active show" : ""') Galeria
					.block-content.tab-content
						#sale_invoice.tab-pane(role="tabpanel" :class='tabs.active == "sale_invoice" ? "active show" : ""')
							h4.font-w400 Facturas de ventas
								div.table-responsive
									table.table.table-bordered.table-striped.table-vcenter.table-hover
										thead
											tr
												th Numero
												th Cliente
												th Creaccion
												th Vencimiento
												th Total
												th Pagado
												th Por pagar
												th Estado
												th Acciones
										tbody
											tr(v-for='invoice in article.invoices')
												td 
													router-link(:to="`/invoices/sale/${invoice.id}`") {{ invoice.id }}
												td Pedro J Gomez
												td {{ invoice.created_at }}
												td {{ invoice.expires }}
												td {{ invoice.total }}$
												td {{ invoice.paid }}$
												td.text-city {{ invoice.total - invoice.paid }}$
												td.text-flat {{ invoice.status }}
												td Botones
							
						#invoice.tab-pane(role="tabpanel" :class='tabs.active == "invoice" ? "active show" : ""')
							h4.font-w400 Facturas de compras
							p Lista de facturas con compras del articulos
						#galery.tab-pane(role="tabpanel" :class='tabs.active == "galery" ? "active show" : ""')
							h4.font-w400 Galeria
							.row
								.col-md-3.col-sm-6(v-for='photo in article.photos')
									img.img-responsive(:src='photo.url')
</template>

<script>
	import { mapActions, mapGetters } from 'vuex'

	export default {

		data () {
			return {
				tabs: {
					active: ''
				}
			}
		},

		created () {
			this.showArticle(this.$route.params.item)
		},

		computed: {
			...mapGetters({
				article: 'inventories/showArticle'
			})
		},

		methods: {
			...mapActions({
				showArticle: 'inventories/showArticle'
			})
		}

	}
</script>

<style>
	.img-responsive {
		width: 100%;
	}
</style>