<template lang="pug">
.content-header.bg-white-5
	//Logo
	a.font-w600.text-dual(href='/')
		.smini-hide
			span.font-w700.font-size-h5 Martha
	//Options
	div
		//Color Variations
		div(class='dropdown d-inline-block ml-3')
			a(class="text-dual font-size-sm" id="sidebar-themes-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#")
				i.si.si-drop
			div(class="dropdown-menu dropdown-menu-right font-size-sm smini-hide border-0" aria-labelledby="sidebar-themes-dropdown")
				a(class="dropdown-item d-flex align-items-center justify-content-between" data-toggle="theme" data-theme="default" href="#")
					span Default
					i(class="fa fa-circle text-default")
				a(class="dropdown-item d-flex align-items-center justify-content-between" data-toggle="theme" data-theme='/css/themes/amethyst.css' href="#")
					span Amethyst
					i.fa.fa-circle.text-amethyst
				a(class="dropdown-item d-flex align-items-center justify-content-between" data-toggle="theme" data-theme='/css/themes/city.css' href="#")
					span City
					i.fa.fa-circle.text-city
				a(class="dropdown-item d-flex align-items-center justify-content-between" data-toggle="theme" data-theme='/css/themes/flat.css' href="#")
					span Flat
					i.fa.fa-circle.text-flat
				a(class="dropdown-item d-flex align-items-center justify-content-between" data-toggle="theme" data-theme='/css/themes/modern.css' href="#")
					span Modern
					i.fa.fa-circle.text-modern
				a(class="dropdown-item d-flex align-items-center justify-content-between" data-toggle="theme" data-theme='/css/themes/smooth.css' href="#")
					span Smooth
					i.fa.fa-circle.text-smooth
				.dropdown-divider
				a(class="dropdown-item" data-toggle="layout" data-action="sidebar_style_light" href="#")
					span Sidebar Light
				a(class="dropdown-item" data-toggle="layout" data-action="sidebar_style_dark" href="#")
					span Sidebar Dark
				.dropdown-divider
				a( class="dropdown-item" data-toggle="layout" data-action="header_style_light" href="#")
					span Header Light
				a( class="dropdown-item" data-toggle="layout" data-action="header_style_dark" href="#")
					span Header Dark
		a(class="d-lg-none text-dual ml-3" data-toggle="layout" data-action="sidebar_close" href="javascript:void(0)")
			i.fa.fa-times
</template>

<script>
	export default {

	}
</script>