<template lang="pug">
div
	slot(name='primary')
		.bg-gray
				div(class="content content-full")
					div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
						h1(class="flex-sm-fill h3 my-2") 
							i.fa.fa-store
							span  Lista de articlus
						nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
							ol(class="breadcrumb breadcrumb-alt")
								li(class="breadcrumb-item" aria-current="page")
									router-link(class='btn btn-primary' to="/admin/inventories/create")
										span Nuevo Articulo
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-primary-dark
				h3.block-title Lista de articulos
				.block-options
							.dropdown
								button(type="button" 
										class="btn-block-option dropdown-toggle btn-primary" 
										data-toggle="dropdown" 
										aria-haspopup="true" 
										aria-expanded="false") <!-- {{ prices[price_selected].name }} -->
								div(class="dropdown-menu dropdown-menu-right font-size-sm")
									a.dropdown-item(href='#' v-for='(price, index) in prices' @click='selectPrice(index)') {{ price.name }}
			div.table-responsive
				table.table.table-bordered.table-striped.table-vcenter.table-hover
					thead
						tr
							th.text-center
								i.fa.fa-tshirt
							th Item
							th.d-none.d-sm-table-cell Proveedor
							th.text-center Disponible
							th.d-none.d-sm-table-cell Costo
							th Precio
							th Valor
					tbody
						tr(v-for="(product, index) in products" is='item' :key='index' :product='product' :price_selected='price_selected')
						tr
							td.text-right(colspan='4') Total valor de invnetario
							td {{ total }}$

</template>

<script>
	import { mapActions, mapGetters } from 'vuex'
	import Item from './components/ArticleItemList'

	export default {
		components: {Item},
		data () {
			return {
				price_selected: 0
			}
		},

		created () {
			this.getPrices().then(() => {
				this.getProducts()
			})
		},

		computed: {
			...mapGetters({
				products: 'inventories/allProducts',
				prices: 'config/allPrices'
			}),

			total () {
				let suma = 0

				for(let product in this.products){
					suma = suma + this.products[product]['prices'][this.price_selected]['pivot']['amount'] * (this.products[product].initial_amount - this.products[product].quantity_sold)
				}

				return suma
			}
		},

		methods: {
			...mapActions({
				getProducts: 'inventories/getProducts',
				getPrices: 'config/getPrices'
			}),

			selectPrice (index) {
				this.price_selected = index
			},	
		}
	}
</script>