<template lang="pug">
div
	slot(name='primary')
		.bg-city
			.bg-black-50
				div(class="content content-full text-center")
					nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
						ol(class="breadcrumb breadcrumb-alt")
							li(class="breadcrumb-item" aria-current="page")
								router-link(class='btn btn-outline-secondary' to="/admin/inventories")
									i.fa.fa-arrow-left
							li(class="breadcrumb-item" aria-current="page")
								router-link(class='btn btn-info' to="/admin/inventories/create")
									span Nuevo Articulo							
							li(class='breadcrumb-item' aria-current="page")
								button(class='btn btn-success' @click='handelEditProduct') Editar
							li(class="breadcrumb-item" aria-current="page" v-if='product' )
								btn-toggle(:product='product')
					.my-3
						img(class="img-avatar img-avatar-thumb" src="/media/icons/dress.svg")
					h1(class="h2 text-white mb-0") {{ product.name }}
					span.text-white-75 {{ product.reference }}
					br
					span.text-white-75 {{ product.description }}
					category(:product='product')
		div(class="bg-white border-bottom")
			div(class="content content-boxed")
				div(class="row items-push text-center")
					div(class="col-6 col-md-3")
						div(class="font-size-sm font-w600 text-muted text-uppercase") Disponibles
						a(class="link-fx font-size-h3" href="javascript:void(0)") {{ available }}
					div(class="col-6 col-md-3")
						div(class="font-size-sm font-w600 text-muted text-uppercase") Vendidos
						a(class="link-fx font-size-h3" href="javascript:void(0)") {{ countSoldArticles }}
					div(class="col-6 col-md-3")
						div(class="font-size-sm font-w600 text-muted text-uppercase") Facturado
						a(class="link-fx font-size-h3" href="javascript:void(0)") 100
					div(class="col-6 col-md-3")
						div(class="font-size-sm font-w600 text-muted text-uppercase") Pendiente
						a(class="link-fx font-size-h3" href="javascript:void(0)") 100
	.content
		.row
			.col-md-8
				div(class="block block-rounded block-themed")
					.block-header.bg-modern
						h3.block-title Tallas y colorer del "{{ product.name }}"
						button.btn.btn-primary(@click='creatingArticleToggle') {{ creating_article ? 'Cancelar' : 'Agragar articulo' }}
					div.table-responsive
						table.table.table-bordered.table-striped.table-vcenter.table-hover
							thead
								tr.text-center
									th Talla
									th Color
									th Vendidos
									th Disponibles
									th Acciones
							tbody
								tr(v-if='creating_article')
									td
										input.form-control(v-model='new_article.size')
									td
										input.form-control(v-model='new_article.color')
									td 0
									td
										input.form-control(v-model='new_article.quantity')
									td.text-center
										.btn-group
											button(class="btn btn-sm btn-success" @click='saveNewArticle')
												i.fa.fa-fw.fa-save
											button(class="btn btn-sm btn-default" @click='creatingArticleToggle')
												i.si.si-close
								tr.text-center(v-for='(article, index) in product.articles' is='item' :key='index' :article='article')
			.col-md-4
				div(class="block block-rounded block-themed")
					.block-header.bg-flat
						h3.block-title Precios del "{{ product.name }}"
					div.table-responsive
						table.table.table-bordered.table-striped.table-vcenter.table-hover
							thead
								tr.text-center
									th Tipo
									th precio
									th Accion
							tbody
								tr.text-center(v-for='(price, index) in product.prices' is='price' :key='index' :price='price')
			.col-md-12
				.block
					ul(class="nav nav-tabs nav-tabs-alt js-tabs-enabled bg-smooth-lighter" data-toggle="tabs" role="tablist")
						li.nav-item
							button.nav-link(@click='tabs.active = "sale_invoice"' :class='tabs.active == "sale_invoice" ? "active show" : ""') Facturas de ventas
						li.nav-item
							button.nav-link(@click='tabs.active = "invoice"' :class='tabs.active == "invoice" ? "active show" : ""') Facturas de compras
						li.nav-item
							button.nav-link(@click='tabs.active = "galery"' :class='tabs.active == "galery" ? "active show" : ""') Galeria
						li.nav-item
							button.nav-link(@click='tabs.active = "color"' :class='tabs.active == "color" ? "active show" : ""') Colores
					.block-content.tab-content
						#sale_invoice.tab-pane(role="tabpanel" :class='tabs.active == "sale_invoice" ? "active show" : ""')
							h4.font-w400 Facturas de ventas
								div.table-responsive
									table.table.table-bordered.table-striped.table-vcenter.table-hover
										thead
											tr
												th Numero
												th prodicte
												th Creaccion
												th Vencimiento
												th Total
												th Pagado
												th Por pagar
												th Estado
												th Acciones
										tbody
											tr(v-for='invoice in product.invoices')
												td 
													router-link(:to="`/admin/invoices/sale/${invoice.id}`") {{ invoice.id }}
												td Pedro J Gomez
												td {{ invoice.created_at }}
												td {{ invoice.expires }}
												td {{ invoice.total }}$
												td {{ invoice.paid }}$
												td.text-city {{ invoice.total - invoice.paid }}$
												td.text-flat {{ invoice.status }}
												td Botones
							
						#invoice.tab-pane(role="tabpanel" :class='tabs.active == "invoice" ? "active show" : ""')
							h4.font-w400 Facturas de compras
							p Lista de facturas con compras del articulos
						#galery.tab-pane(role="tabpanel" :class='tabs.active == "galery" ? "active show" : ""')
							h4.font-w400 Galeria
								img-component(:product='product')
						#color.tab-pane(rol="tabpanel" :class='tabs.active == "color" ? "active show" : ""')
							h4.fonr-w400 Colores
							.row
								.col-md-6
									ul.list-group
										li(class="list-group-item d-flex justify-content-between align-items-center" v-for="(color, index) in product.colors") {{ color.description }}
											span(class="badge badge-pill" :style="`background: ${color.hex}`") Color
								.col-md-6
									.form-group.form.row
										.col-md-6
											label Descripcion
											input.form-control(v-model='color_methods.description')
											button.btn.btn-primary(@click="handelSaveColor") Guardar Color
										sketch(v-model='color_methods.model')

	.modal(id="edit-product" tabindex="-1" role="dialog" aria-labelledby="edit-product" style="display: none;" aria-hidden="true")
		.modal-dialog(role="document")
			.modal-content
				.block.block-themed.block-transparent.mb-0
					.block-header.bg-primary-dark
						h3.block-titleModal Title
						.block-options
							button(type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close")
								i.fa.fa-fw.fa-times
					.block-content.font-size-sm
						.form-group.form-row
							.col-md-6
								label Nombre
								input.form-control(v-model='edit_product.name')
							.col-md-6
								label Referencia
								input.form-control(v-model='edit_product.reference')
						.form-group.form-row
							.col-md-6
								label Codigo de barra
								input.form-control(v-model='edit_product.bar_code')
							.col-md-6
								label Costo
								input.form-control(v-model='edit_product.cost')
						.form-group.form-row
							.col-md-6
								label Pais
								input.form-control(v-model='edit_product.country')
							.col-md-6
								label Material
								input.form-control(v-model='edit_product.material')
						.form-group.form-row
							.col-md-12
								label Description
								input.form-control(v-model='edit_product.description')
					.block-content.block-content-full.text-right.border-top
						button(type="button" class="btn btn-sm btn-light" data-dismiss="modal") Close
						button(type="button" class="btn btn-sm btn-primary" @click='handelUpdateProduct') 
							i.fa.fa-check.mr-1 Ok
</template>

<script>
	import { mapActions, mapGetters, mapMutations } from 'vuex'
	import Item from './components/ArticleItem'
	import Price from './components/PriceItem'
	import Category from './components/Category'
	import BtnToggle from './components/BtnToggle'
	import ImgComponent from './components/img/ImgComponent'
	import { Sketch } from 'vue-color'

	export default {

		components: { Item, Price, Category, BtnToggle, ImgComponent, Sketch },

		data () {
			return {
				tabs: {
					active: 'sale_invoice'
				},

				creating_article: false,

				new_article: {
					size: '',
					color: '',
					quantity: '',
					quantity_sold: 0
				},
				edit_product: {},
				color_methods: {
					model: {hex: ''},
					description: ''
				}
			}
		},

		created () {
			this.showProduct(this.$route.params.item)
		},

		computed: {
			...mapGetters({
				product: 'inventories/showProduct',
				countArticles: 'inventories/countArticles',
				countSoldArticles: 'inventories/countSoldArticles',
			}),
			available() {
				let product = this.product
				return this.countArticles - this.countSoldArticles
			}
		},

		methods: {
			...mapActions({
				showProduct: 'inventories/showProduct',
			}),

			...mapMutations({
				pushArticle: 'inventories/pushArticle'

			}),

			imgUrl(url) {
				return `/images?url=${url}`
			},

			creatingArticleToggle() {
				this.creating_article = !this.creating_article
			},

			saveNewArticle(){
				axios.post(`/api/inventories/new_article/${this.product.id}`, this.new_article)
					.then(({data}) => {
						this.product.articles.push(data)
						this.pushArticle(data)
						this.creatingArticleToggle()
						this.new_article =  {
											size: '',
											color: '',
											quantity: '',
											quantity_sold: 0
										}
					})
			},

			handelEditProduct () {
				this.edit_product = this.product
				$('#edit-product').modal('show')
			},

			handelUpdateProduct () {
				axios.put(`/api/inventories/products/${this.product.id}`, this.edit_product)
					.then((data) => {
						this.showProduct(this.$route.params.item)
						$('#edit-product').modal('hide')
					})
			},

			handelSaveColor () {
				let { description, model } = this.color_methods
				if(description == '' || model.hex == '') {
					this.$swal('Complete la informacion del color')
					return
				}
				axios.put(`/api/inventories/products/${this.product.id}`, { colors: {
																				description: description,
																				hex: model.hex
																				}
																		}
						)
					.then(() => {
						this.product.colors.push({description, hex: model.hex})
						this.color_methods = {
							description: '',
							model: {
								hex: ''
							}
						}
					})
			}
		}

	}
</script>

<style>
	.img-responsive {
		width: 100%;
	}
</style>