<template lang="pug">
tr(v-if='editing')
	td {{ category.name }}
	td {{ category.slug }}
	td
		input.form-control(v-if='add_sub_category' v-model='sub_category.name' v-on:keyup.enter='addSubCategory')
		ul
			item-sub-category(v-for='(sub_category, index) in category.sub_categories' :key='index' :sub_category='sub_category')
	td.text-center
		.btn-group
			button(class="btn btn-sm btn-success" @click='add_sub_category = !add_sub_category')
				i.fa.fa-fw.fa-pencil-alt
			button(class="btn btn-sm btn-primary" @click='edit')
				i.fa.fa-fw.fa-pencil-alt
			button(class="btn btn-sm btn-danger" @click='eliminar')
				i.fa.fa-fw.fa-trash
tr(v-else)
	td {{ category.id }}
	td
		input.form-control(v-model='data_edit.name')
	td Sub Categorias
	td.text-center
		.btn-group
			button(class="btn btn-sm btn-success" @click='update')
				i.fa.fa-fw.fa-save
			button(class="btn btn-sm btn-default" @click='edit')
				i.si.si-close
</template>

<script>
	import { mapActions } from 'vuex'
	import ItemSubCategory from './sub-category/ItemSubCategory'

	export default {

		components: { ItemSubCategory },
		props: ['category'],

		data () {
			return {
				data_edit: {
						name: '',
						description: ''
				},
				sub_category: {
					name: ''
				},
				add_sub_category: false,
				editing: 'false'
			}
		},

		methods: {
			...mapActions({
				// updatecategory: 'config/updatecategory'
				pushSubCategory: 'config/addSubCategory'
			}),

			edit () {
				this.loadData()
				this.editing = !this.editing
			},

			loadData () {
				let category = this.category

				this.data_edit = {
					name: category['name'],
					description: category['description']
				}				
			},

			addSubCategory() {				
				this.pushSubCategory({
					id: this.category.id,
					name: this.sub_category.name
				}).then((data) => {
					this.category.sub_categories.push(data)
					this.add_sub_category = false
				})
			},

			update () {
				this.updatecategory({
						id: this.category.id, 
						data: this.data_edit}).then(() => {
					this.edit()
				})
			},

			eliminar() {
				axios.delete('/api/config/categories/'+this.category.id)
					.then(() => {
						location.reload()
						//this.$router.push('/admin/categories')
					})
			}
		}
	}
</script>