<template lang="pug">
div
	slot(name='primary')
		.bg-gray
			div(class="content content-full")
				div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
					h1(class="flex-sm-fill h3 my-2") 
						i.fa.fa-user
						span  Lista de precios
					nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
						ol(class="breadcrumb breadcrumb-alt")
							li(class="breadcrumb-item" aria-current="page")
								button(:class="creating ? 'btn btn-default' : 'btn btn-primary'" @click="btnCreating")
									span(v-if='!creating') Crear precios
									span(v-else) Cancelar creaccion
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-modern
				h3.block-title Lista de precios
			div.table-responsive
				table.table.table-bordered.table-striped.table-vcenter.table-hover
					thead
						tr
							th Codigo
							th Nombre
							th Descripcion
							th.text-center Acciones
					tbody
						tr.bg-gray(v-if='creating')
							td 0
							td
								input.form-control(v-model='name' placeholder='Nombre')
							td
								input.form-control(v-model='description' placeholder='Descripcion')
							td.text-center
								.btn-group
									button(class="btn btn-sm btn-success" @click='save')
										i.fa.fa-fw.fa-save
						tr(v-for='(price, index) in prices' is='item' :key='index' :price='price')
</template>

<script>
	import { mapActions, mapGetters } from 'vuex'
	import Item from './components/PriceItemComponent'

	export default {
		components: { Item },

		data () {
			return {
				name: '',
				description: '',
				creating: false
			}
		},

		created () {
			this.getPrices()	
		},

		computed: {
			...mapGetters({
				prices: 'config/allPrices'
			})
		},

		methods: {
			...mapActions({
				getPrices: 'config/getPrices',
				pushPrice: 'config/pushPrice'
			}),

			save() {
				this.pushPrice(this.$data).then(()=>{
					this.$swal('Se agrego el nuevo precios')
					this.name = ''
					this.description = ''
					this.creating = false
				})
			},

			btnCreating () {
				this.creating = !this.creating
			}
		}
	}
</script>