<template>
    <form>
          <div class="size-quantity clearfix">
            <div class="size">
              <label>Size and color</label>
              <select name="article" id="size__select" class="size__select" v-model='payload.article'>
                <option :value="article" 
                        v-for="(article, index) in product.articles" 
                        :key='index'>{{ article.size }} -  {{ article.color }}</option>
              </select>
            </div>
            
            <div class="quantity">
              <label>Quantity</label>                 
              <select name="quantity" id="quantity__select" class="quantity__select" v-model='payload.quantity'>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>            

          <div class="row row-10 product-single__actions clearfix">
            <div class="col">

              <button type="submit" class="btn btn-lg btn-color product-single__add-to-cart" @click.prevent='addToCart' v-if="!config.added" :disabled='config.adding'>
                <i class="ui-bag"></i>
                <span>Add to Cart</span>
              </button>

              <button type="submit" class="btn btn-lg btn-color product-single__add-to-cart" v-else @click.prevent>
                <i class="ui-bag"></i>
                <span>Added in cart</span>
              </button>

            </div>
            <div class="col">
              <a href="#" class="btn btn-lg btn-dark product-single__add-to-wishlist">
                <i class="ui-heart"></i>
                <span>Wishlist</span>
              </a>
            </div>
          </div>            
          </form>
</template>

<script>
import EventBus from './../../event-bus'
export default {
    props: ['product'],
    
    data() {
        return {
            payload:{
                article: {},
                quantity: '',
            },

            config: {
                added: false,
                adding: false
            }
        }
    },

    methods: {
        addToCart(){
            this.config.adding = true
            axios.post(`/cart`, {
                product: this.product,
                ...this.payload
            })
                .then(({data}) => {
                    this.config.added = true
                    EventBus.$emit('ADD_ITEM', data)
                })
        }
    }

}
</script>
