<template lang="pug">
div
	slot(name='primary')
		.bg-gray
				div(class="content content-full")
					div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
						h1(class="flex-sm-fill h3 my-2") 
							i.fa.fa-users
							span  Lista de ordenes
						nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
							ol(class="breadcrumb breadcrumb-alt")
								li(class="breadcrumb-item" aria-current="page")
									router-link(class='btn btn-secondary' to="/admin/orders")
										span Regresar
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-primary-dark
				h3.block-title Lista de ordenes
			div.table-responsive
				table.table.table-bordered.table-striped.table-vcenter.table-hover
					thead
						tr
							th.text-center(width='100px') #
							th Name
							th Correo
							th Direccion
							th Ciudad
							th Descuento
							th Subtotal
							th Impuesto
							th Total
							th
								i.fa.fa-shipping-fast
							th.text-center() A
					tbody
						tr(v-for='(order, index) in orders' :key='index')
							td 
								router-link(:to="`/admin/orders/${order.id}`") {{ order.id }}
							td {{ order.billing_name }}
							td {{ order.billing_email }}
							td {{ order.billing_address }}
							td {{ order.billing_city }}
							td ${{ order.billing_discount }}
							td ${{ order.billing_subtotal }}
							td ${{ order.billing_tax }}
							td ${{ order.billing_total }}
							td 
								span(:class="order.shipped ? 'text-success' : 'text-warning' ") {{ order.shipped ? 'Send' : 'Panding' }}
							td.text-center
								.btn-group
									button(type="button" class="btn btn-sm btn-primary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Edit" aria-describedby="tooltip988673" @click='show(user.id)')
										i.fa.fa-fw.fa-eye
</template>

<script>
	import { mapActions, mapGetters } from 'vuex'

	export default {
		created() {
			this.getOrders()
		},
		computed: {
			...mapGetters({
				orders: 'commerce/allOrders'
			})
		},
		methods: {
			...mapActions({
				getOrders: 'commerce/getOrders'
			})
		}
	}
</script>