<template lang="pug">
header#page-header
	content-header
	page-header-loader
</template>

<script>
	import ContentHeader from './ContentHeader'
	import PageHeaderLoader from './PageHeaderLoader'

	export default {
		components: { ContentHeader, PageHeaderLoader }
	}
</script>