<template lang="pug">
div
	slot(name='primary')
		.bg-gray
			div(class="content content-full")
				div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
					h1(class="flex-sm-fill h3 my-2") 
						i.fa.fa-user
						span  Lista de clientes
					nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
						ol(class="breadcrumb breadcrumb-alt")
							li(class="breadcrumb-item" aria-current="page")
								router-link(class='btn btn-primary' to="/admin/clients/create")
									span Agregar cliente
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-modern
				h3.block-title Lista de clientes
			div.table-responsive
				table.table.table-bordered.table-striped.table-vcenter.table-hover
					thead
						tr
							th Nombre
							th Correo
							th Celular
							th T precio
							th Direccion
							th.text-center Acciones
					tbody
						tr(v-for="client in clients")
							td 
								router-link(:to="`/clients/${client.id}`") {{ client.full_name }}
							td {{ client.email }}
							td {{ client.mobil }}
							td {{ client.type_price ? client.type_price.name : '' }}
							td {{ client.address }}
							td.text-center
								.btn-group
									router-link(class="btn btn-sm btn-primary" :to="`/admin/clients/${client.id}/edit`")
										i.fa.fa-fw.fa-pencil-alt
</template>

<script>
	import { mapActions, mapGetters, mapState } from 'vuex'

	export default {
		created () {
			$('title').text('MARTHA | Clientes')

			if ( !this.loaded ) {
				this.getClients()
			}
		},

		computed: {
			...mapGetters({
				clients: 'clients/allClients',
			}),
			...mapState({
				loaded: 'clients/loaded'
			})
		},
		methods: {
			...mapActions({
				getClients: 'clients/getClients',
			})
		}	
	}
</script>