<template lang="pug">
div
	slot(name='primary')
		.bg-gray
				div(class="content content-full")
					div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
						h1(class="flex-sm-fill h3 my-2") 
							i.fa.fa-file-invoice
							span  Facturar de ventas
						nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
							ol(class="breadcrumb breadcrumb-alt")
								li(class="breadcrumb-item" aria-current="page")
									router-link(class='btn btn-primary' to="/admin/invoices/create")
										span Generar factura
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-primary-dark
				h3.block-title Facturas
			div.table-responsive
				table.table.table-bordered.table-striped.table-vcenter.table-hover
					thead
						tr
							th Numero
							th Cliente
							th Creacion
							th Vencimiento
							th Total
							th Pagado
							th Por Pagar
							th Estado
							th.text-center Acciones
					tbody
						tr(v-for='sale in sales')
							td 
								router-link(:to="`/admin/invoices/sale/${sale.id}`") {{ sale.id }}
							td {{ sale.client.first_name }} {{ sale.client.last_name }}
							td {{ sale.created_at }}
							td {{ sale.expires }}
							td {{ sale.total }}$
							td {{ sale.paid }}$
							td {{ sale.total - sale.paid }}$
							td.text-flat {{ sale.status }}
							td.text-center
								.btn-group
									button(type="button" class="btn btn-sm btn-primary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Edit" aria-describedby="tooltip988673" @click='edit(provider.id)')
										i.fa.fa-fw.fa-pencil-alt
</template>

<script>
	import { mapActions, mapGetters } from 'vuex'
	export default {

		created () {
			this.getSales()
		},

		computed: {
			...mapGetters({
				sales: 'invoices/allSales'
			})
		},

		methods: {
			...mapActions({
				getSales: 'invoices/getSales'
			})
		}

	}
</script>