<template>
	<div class="block">
        <div class="block-header">
            <h3 class="block-title">#{{ sale.id }}</h3>
            <div class="block-options">
                <router-link class="btn-block-option btn-primary-dark" to="/admin/invoices">
                    <i class="fa fa-arrow-left"></i> Regresar
                </router-link>
                 <button type="button" class="btn-block-option" onclick="One.helpers('print');">
                    <i class="si si-printer mr-1"></i> Imprimir
                </button>
            </div>
        </div>
        <div class="block-content">
            <div class="p-sm-4 p-xl-7">
                <div class="row mb-4">
                    <div class="col-6 font-size-sm">
                        <p class="h3">Martha Shop</p>
                        <address>
                            Direccion de la tienda<br>
                            State, City<br>
                            martha@gmail.com
                        </address>
                    </div>
                    <div class="col-6 text-right font-size-sm">
                        <p class="h3">{{ sale.client['first_name'] }} {{ sale.client['last_name'] }}</p>
                        <address>
                            {{ sale.client.address }}
                        </address>
                    </div>
                </div>
                <div class="table-responsive push">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 60px;"></th>
                                <th width="450px">Item</th>
                                <th class="text-center" style="width: 90px;">Cantidad</th>
                                <th class="text-right" style="width: 120px;">P/U</th>
                                <th class="text-right" style="width: 120px;">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for='(article, index) in sale.articles' :key='index'>
                                <td class="text-center">{{ index + 1 }}</td>
                                <td>
                                    <p class="font-w600 mb-1">({{ article.product.reference }}) {{ article.product.name }}</p>
                                    <div class="text-muted">{{ article.size }} - {{ article.color }}</div>
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-pill badge-primary">{{ article.pivot.quantity }}</span>
                                </td>
                                <td class="text-right">${{ article.pivot.price }}</td>
                                <td class="text-right">${{ article.pivot.total }}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="font-w700 text-uppercase text-right bg-body-light">Total</td>
                                <td class="font-w700 text-right bg-body-light">${{ sale.total }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="font-size-sm text-muted text-center py-3 my-3 border-top">
                    Thank you for your purchase! We hope you enjoy the product
                </p>
            </div>
        </div>
    </div>

</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {

        created () {
            this.getSale(this.$route.params.invoice)
        },

        computed: {
            ...mapGetters({
                sale: 'invoices/showSale'
            })
        },

        methods: {
            ...mapActions({
                getSale: 'invoices/getSale'
            })
        }

    }
</script>