<template lang="pug">
tr
	td.text-center
		img(class="img-avatar img-avatar64" :src="product.imgs[0] ? imgUrl(product.imgs[0].url) : '/media/avatars/avatar0.jpg'")
	td.font-size-sm
		p.font-w600.mb-1
			router-link(:to="url(product.id)") {{ product.name }}
		p.text-muted.mb-0 {{ product.reference }}
	td.d-none.d-sm-table-cell {{ product.provider.name }}
	td.text-center  {{ avalible }}Unidades
	td.d-none.d-sm-table-cell {{ product.cost }}$
	td.text-center(v-if='product.prices[0]') {{ product.prices[price_selected]['pivot']['amount'] }}$
	td.text-center(v-if='product.prices[0]') {{ product.prices[price_selected]['pivot']['amount'] * avalible }}$
</template>

<script>
	export default {
		props: ['product', 'price_selected'],

		computed: {
			quantity(){				
				return this.product.articles.reduce((suma, article) => {
					return article.quantity + suma
				},0)
			},

			sold(){				
				return this.product.articles.reduce((suma, article) => {
					return article.quantity_sold + suma
				},0)
			},

			avalible() {
				return this.quantity - this.sold
			}
		},

		methods: {
			url (item) {
				return `/admin/inventories/items/${item}`
			},

			imgUrl(url) {
				return `/storage${url}`
			},
		}
	}
</script>