<template lang="pug">
tr(v-if='!editing')
	td {{ article.size }}
	td {{ article.color }}
	td {{ article.quantity_sold }}
	td {{ article.quantity - article.quantity_sold }}
	td.text-center
		.btn-group
			button(class="btn btn-sm btn-primary" @click='editingToggle')
				i.fa.fa-fw.fa-pencil-alt
tr(v-else)
	td 
		input.form-control(v-model='data.size')
	td
		input.form-control(v-model='data.color')
	td {{ data.quantity_sold }}
	td
		input.form-control(v-model='data.quantity')
	td.text-center
		.btn-group
			button(class="btn btn-sm btn-success" @click='update')
				i.fa.fa-fw.fa-save
			button(class="btn btn-sm btn-default" @click='editingToggle')
				i.si.si-close
</template>

<script>
	export default {
		props: ['article'],
		data(){
			return {
				editing: false,
				data: {}
			}
		},

		methods: {
			editingToggle(){
				this.editing = !this.editing
				this.dataOriginal()
			},

			update() {
				console.log(this.data)
				axios.put(`/api/inventories/update_article/${this.article.id}`, this.data)
					.then(({data}) => {
						this.article = data
						this.editingToggle()
					})
			},

			dataOriginal(){
				this.data = this.article
			}
		}
	}
</script>