<template lang="pug">
button(class='btn' :class='product.deleted_at ? "btn-success" : "btn-default"' @click='handelClick')
    span {{ product.deleted_at ? 'Habilitar' : 'Inhabilitar' }}
</template>

<script>
export default {
    
    props: ['product'],

    data() {

    },

    created() {
        console.log('btn')
        console.log(this.product)
    },

    methods: {
        handelClick() {
            if(this.product.deleted_at) {
                this.habilitar()
                return
            }
            this.inhabilitar()
        },
        habilitar() {
            let { id } = this.product

            axios.post('/api/inventories/products/'+id+'/restore')
                .then(({data}) => this.product.deleted_at = '' )
        },

        inhabilitar() {
            let { id } = this.product

            axios.delete('/api/inventories/products/'+id)
                .then(({data}) => this.product.deleted_at = data.deleted_at )
        }
    }
}
</script>

