<template lang='pug'>
div
	div(v-if='!editing')
		button(class='btn btn-info btn-sm btn-rounded btn-square') {{ product.sub_category.category['name'] }}
		i.fa.fa-arrow-right
		button(class='btn btn-info btn-sm btn-rounded btn-square' @click='handleEdit') {{ product.sub_category['name'] }}
	div(v-else)
		.row
			.col-md-4.col-md-offset-2
				multiselect(:options='categories' track-by='name' label='name' v-model='categorySelect')
			.col-md-4
				multiselect(:options='subCategories' track-by='name' label='name' v-model='select.sub_category')
			.col-md-2
				button.bt.btn-success.btn-sm(@click='handleUpdate') Actualizar
</template>

<script>
import Multiselect from 'vue-multiselect'

export default {
	components: { Multiselect },

    props: ['product'],

	data() {
		return {
			editing: false,
			categories: [],
			select: {
				category: {},
				sub_category: {}
			}
		}
	},
	created(){
		
	},
	computed: {
		categorySelect: {
			get(){
				return this.select.category
			},
			set(value){
				this.select.category = value
			}
		},
		subCategories(){
			let category = this.categories.find((item) => {
				return item.id == this.select.category.id
			})

			return category ? category.sub_categories : []
		}
	},

	methods: {
		fetchCategory() {
			axios.get('/api/config/categories')
				.then(({data}) => this.categories = data)
		},

		handleEdit() {
			this.fetchCategory()
			this.select.category = this.product.sub_category.category
			this.editing = !this.editing
		},

		handleUpdate(){
			let product = this.product
			axios.post(`/api/inventories/products/update_category/${product.id}`, {sub_category: this.select.sub_category.id})
				.then(({data}) => {
					product.sub_category = this.select.sub_category
					product.sub_category.category = this.select.category
					this.editing = false
				})
		},

		selectCategory(data) {
			console.log(data)
		}
	}
}
</script>


<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
