<template lang="pug">
div
	.block.block-rounded.block-themed
		.block-header.bg-modern
			h3.block-title Informacion del producto
		.block-content.block-content-full
			<!-- .alert.alert-warning(v-if="errors.errors")
				p {{ errors.message }}
				ul
					li(v-for='error in errors.errors') {{ error[0] }} -->
			.row
				.col-md-12
					.form-group.form-row
						.col-md-3.col-sm-6
							label Proveedor
							multiselect(:options='providers' track-by='name' label='name' v-model='provider')
						.col-md-3.col-sm-6
							label Codigo Barra
							input.form-control(v-model='bar_code')
						.col-md-3.col-sm-6
							label Referencia
							input.form-control(v-model='reference')
						.col-md-3.col-sm-6
							label Nombre
							input.form-control(v-model='name')
					.form-group.form-row
						.col-md-2.col-sm-6
							label Cantidad	
							input.form-control(v-model='initial_amount' type='number' min='0')
						.col-md-2.col-sm-6
							label Costo
							input.form-control(v-model='cost')
						.col-md-8.col-sm-6
							label Descripcion
							input.form-control(v-model='description')
					.content-heading.border-bottom.mb-1.pb-2 Precios
					.form-group.form-row
						.col-md-2.col-sm-6(v-for='price in prices')
							label {{ price['name'] }}
							input.form-control(@keyup="pricePush(`${price.id}`, $event.target.value)" 
												type='number' 
												placeholder="0,0$")
					.form-group.form-row
						.col-md-2.col-sm-6
							label Pais origen
							input.form-control(v-model='country')
						.col-md-2.col-sd-6
							label Material
							input.form-control(v-model='material')
					.form-group.form-row
						button.btn.btn-success(data-toggle="modal" data-target="#add-color") Agregar color
						.col-md-2(v-for='color in form.colors')
							.color(:style="`background: ${color.hex};`")
							span {{ color.description }}
	.modal(id="add-color" tabindex="-1" role="dialog" aria-labelledby="add-color" style="display: none;" aria-hidden="true")
		.modal-dialog(role="document")
			.modal-content
				.block.block-themed.block-transparent.mb-0
					.block-header.bg-primary-dark
						h3.block-titleModal Title
						.block-options
							button(type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close")
								i.fa.fa-fw.fa-times
					.block-content.font-size-sm
						.form-group.form.row
							.col-md-6
								label Descripcion
								input.form-control(v-model='color_methods.description')
						sketch(v-model='color_methods.model')
					.block-content.block-content-full.text-right.border-top
						button(type="button" class="btn btn-sm btn-light" data-dismiss="modal") Close
						button(type="button" class="btn btn-sm btn-primary" @click='HandelAddColor') 
							i.fa.fa-check.mr-1 Ok

</template>

<script>
	import Multiselect from 'vue-multiselect'
	import { mapActions, mapGetters } from 'vuex'
	import { Sketch } from 'vue-color'

	export default {

		components: { Multiselect, Sketch },

		data () {
			return {
				form: {
					provider: '',
					name: '',
					bar_code: '',
					reference: '',
					prices: [],
					cost: '',
					initial_amount: '',
					description: '',
					country: '',
					material: '',
					colors: []
				},

				color_methods: {
					adding: false,
					description: '',
					model: {}
				}
			}
		},

		created () {
			this.getProviders()
			this.getPrices()
		},

		computed: {
			...mapGetters({
				providers: 'providers/allProviders',
				prices: 'config/allPrices'
			}),

			provider: {
				set (value) {
					this.form.provider = value
					this.loadData('provider_id', value.id)
				},

				get () {
					return this.form.provider
				}

			},
			name: {
				set (value) {
					this.form.name = value
					this.loadData('name', value)
				},

				get () {
					return this.form.name
				}

			},
			cost: {
				set (value) {
					this.form.cost = value
					this.loadData('cost', value)
				},

				get () {
					return this.form.cost
				}

			},
			initial_amount: {
				set (value) {
					this.form.initial_amount = value
					this.loadData('initial_amount', value)
				},

				get () {
					return this.form.initial_amount
				}

			},
			bar_code: {
				set (value) {
					this.form.bar_code = value
					this.loadData('bar_code', value)
				},

				get () {
					return this.form.bar_code
				}

			},
			reference: {
				set (value) {
					this.form.reference = value
					this.loadData('reference', value)
				},

				get () {
					return this.form.reference
				}

			},
			description: {
				set (value) {
					this.form.description = value
					this.loadData('description', value)
				},

				get () {
					return this.form.description
				}

			},

			country: {
				set(value) {
					this.form.country = value
					this.loadData('country', value)
				},
				get () {
					return this.form.country
				}
			},

			material: {
				set(value) {
					this.form.material = value
					this.loadData('material', value)
				},
				get () {
					return this.form.material
				}
			},
		},

		methods: {
			...mapActions({
				getProviders: 'providers/getProviders',
				getPrices: 'config/getPrices'
			}),

			loadData (field, value) {
				this.$emit('loadData', { field, value })
			},
			 pricePush(price, value) {
			 	this.form.prices[price - 1] = {amount: value} 

			 	this.loadData('prices',this.form.prices)
			 },

			 HandelAddColor () {
				 let { model, description } = this.color_methods
				 if(description == '') {
					 this.$swal('Por favor colocar descripcion')
					 return
				 }
				 this.form.colors.push({
					 description: description,
					 hex: model.hex
				 })
				 this.loadData('colors', this.form.colors)
				this.color_methods = {
					description: '',
					model: {}
				}

				$('#add-color').modal('hide')
			 }
		}

	}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scope>
.color {
	height: 25px;
	width: 25px;
	border: 1px solid #000;
	border-radius: 10px;
}
</style>
