<template lang="pug">
tr.text-center(v-if='!editing')
	td {{ price.name }}
	td {{ price.pivot.amount }}$
	td.text-center
		.btn-group
			button(class="btn btn-sm btn-primary" @click='editingToggle')
				i.fa.fa-fw.fa-pencil-alt
tr.text-center(v-else)
	td {{ price.name }}
	td
		input.form-control(v-model='price.pivot.amount')
	td.text-center
		.btn-group
			button(class="btn btn-sm btn-success" @click='update')
				i.fa.fa-fw.fa-save
			button(class="btn btn-sm btn-default" @click='editingToggle')
				i.si.si-close
</template>

<script>
	export default {
		props: ['price'],
		data(){
			return {
				editing: false,
				data: {}
			}
		},

		methods: {
			editingToggle(){
				this.editing = !this.editing
				this.dataOriginal()
			},

			update() {
				axios.put(`/api/inventories/update_price/${this.price.id}`, this.data)
					.then(({data}) => {
						this.price = data
						this.editingToggle()
					})
			},

			dataOriginal(){
				this.data = this.price
			}
		}
	}
</script>