<template lang="pug">
div
	slot(name='primary')
		.bg-gray
			div(class="content content-full")
				div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
					h1(class="flex-sm-fill h3 my-2") 
						i.fa.fa-user
						span  Lista de catgorias
					nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
						ol(class="breadcrumb breadcrumb-alt")
							li(class="breadcrumb-item" aria-current="page")
								button(:class="creating ? 'btn btn-default' : 'btn btn-primary'" @click="btnCreating")
									span(v-if='!creating') Crear categoria
									span(v-else) Cancelar creaccion
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-modern
				h3.block-title Lista de categoria
			div.table-responsive
				table.table.table-bordered.table-striped.table-vcenter.table-hover
					thead
						tr
							th Nombre
							th Slug
							th Sub Categorias
							th.text-center Acciones
					tbody
						tr.bg-gray(v-if='creating')
							td
								input.form-control(v-model='name' placeholder='Nombre')
							td {{ name_slug }}
							td Pending...
							td.text-center
								.btn-group
									button(class="btn btn-sm btn-success" @click='save')
										i.fa.fa-fw.fa-save
						tr(v-for='(category, index) in categories' is='item' :key='index' :category='category')
</template>

<script>
	import { mapActions, mapGetters } from 'vuex'
	import Item from './components/CategoryItemComponent'
	import  stringToSlug  from './../../../utils'

	export default {
		components: { Item },

		data () {
			return {
				name: '',
				creating: false
			}
		},

		created () {
			this.getCategories()	
		},

		computed: {
			...mapGetters({
				categories: 'config/allCategories'
            }),
            
            name_slug() {
															let str = this.name
															return str
															// return stringToSlug(str)
													}
		},

		methods: {
			...mapActions({
				getCategories: 'config/getCategories',
				pushCategory: 'config/pushCategory'
			}),

			save() {
				this.pushCategory(this.$data).then(()=>{
					this.$swal('Se agrego la nuevo categoria')
					this.name = ''
					this.creating = false
				})
			},

			btnCreating () {
				this.creating = !this.creating
			}
		}
	}
</script>