<template lang="pug">
#page-container(class='sidebar-o enable-page-overlay sidebar-dark side-scroll page-header-fixed')
	aside-content
	main-navigation
	header-bar
	main#main-container
		router-view
	modal-apps
</template>

<script>
	import AsideContent from './aside/Aside'
	import MainNavigation from './header/MainHeader'
	import HeaderBar from './sidebar/SideBar'
	import ModalApps
	 from './modal/ModalApps'

	

	export default {
		components: { AsideContent, MainNavigation, HeaderBar, ModalApps }
	}
</script>
